.UserSurveysPage {
    margin-top: 20px;
}

.UserSurveysPage  .welcomer {
    margin-bottom: 2%;
    margin-top: 5%;
    font-family: "Lucida Sans Unicode";
    font-size: 72px;
    color: #ffb74d;
    text-align:center;
}

.UserSurveysPage .info {
    color: black;
    margin-bottom: 5%;
    margin-top: 2%;
    font-family: "Lucida Sans Unicode";
    text-align: center;
}

.UserSurveysPage .logo {
    text-align: center;
}