.SurveyList ul {
  margin: 10px 0;
  display: flex;
  flex-flow:wrap;
}

.oldSurveys {
    text-align: center;
    padding-top: 48px;
    border-bottom: solid 2px #ffe0b2;
    border-bottom-style: dashed;
    color: #ffb74d;
    font-family: "Lucida Sans Unicode";



    padding-bottom: 32px;
}